@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.boxLeft {
    width: 70%;
    height: 100vh;
    position: relative;
    float: left;

    overflow: hidden;
}

.artistContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    overflow: hidden;
}

.radio {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border: 0;
    background-color: #000;
}

.artistBackground {
    height: 100%;
    background-size: cover;

    margin: -5px -10px -10px -5px;

    /*filter: brightness(20%) blur(2px);*/
    /*-webkit-filter: brightness(20%) blur(2px);*/

    z-index: 999;
}

.boxRight {
    width: 30%;
    height: 100vh;
    float: left;
    /*background-color: #f4f4f4;*/
    z-index: 999;
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: radial-gradient(center, ellipse cover, #FFFFFF 0%, #B0AFAA 86%);
    background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B0AFAA 86%);
    background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B0AFAA 86%);
    background: -o-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B0AFAA 86%);*/
}

.infoBox {
    /*background-color: rgba(0, 0, 0, 0.5); */
    margin: 0 auto;
    height: 500px;
    width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.infoContainer {
    height: 100%;
    width: 100%;
    position: absolute;
}

.musicArt {
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.infoSong {
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.infoTitle {
    font-weight: bold;
}

.infoArtist {
}

.leftContent {
    margin: 5%;
}

.clock {
    margin: 0 auto;
    text-align: center;
    font-size: 5.5em;
    font-weight: 400;
    font-family: 'Pacifico';
}

.clockLabel {
    font-size: 3em;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: 'Pacifico';
}

.tempContainer {
    text-align: center;
    font-size: 2em;
    display: block;
}

.tempbox {
    width: 50%;
    float: left;
}

h1, h2 {
    text-align: center;
}

.images {
    width: 100%;
}

.newyeariamge {
    float: left;
}

#companyTitle {
    font-size: 2em;
    margin-top: 10%;
}

#fissaTitle {
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Pacifico';
}

#presentsTitle {
    font-size: 1em;
}

.fuck2016 {
    display: none;
    z-index: 100000;
    clear: both;
    width: 1920px;
    height: 1080px;
}