html, body {
    min-height: 100%;
    height: 100%;
}

#web {
    border: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 56px);
}

.card {
    margin-bottom: 1em;
}

.navbar {
    margin-bottom: 1em;
}

.music-controls {
    margin-top: 1.5em;
}

.music-controls-small {
    margin-top: 0.8em;
}

.artist-small {
    font-size: 1.2em;
}

.title-small {
    font-size: 1em;
}